@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-purple-50;
}

.my-button {
  @apply inline-flex justify-center items-center bg-yellow-400 px-3 py-2 font-semibold text-black shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600;
}

.animatedLogo {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

canvas.mapboxgl-canvas {
  border-radius: 6px;
  border: 1px solid #dddddd;
}
